<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header> -->
<ion-content class="background-image" [fullscreen]="true">
      <ion-searchbar class="search"></ion-searchbar>
      <h1 class="title text-center"><b>Design Your Home</b></h1>
      <h3 class="main-text text-center"><b>Trasform your space from</b></h3>
      <h3 class="main-text text-center"><b>before to after</b></h3>
      <div class="container">
        <ion-button expand="block" class="start" routerLink="/my-design">Get Started</ion-button>
      </div>
</ion-content>
