
<nav class="navbar bg-secondary">
  <div class="container-fluid">
    <span class="navbar-text"><img src="https://img.icons8.com/material/35/undefined/user-male-circle--v1.png"/></span>
    <h3 class="design-pg text-center">MY DESIGN</h3>
    <span><img src="https://img.icons8.com/material/48/undefined/shopping-cart--v1.png"/></span>
  </div>
</nav>
<!-- <ion-content> -->
  <div class="container-fluid">
    <div class="col-12">
    <img src="../../assets/next page 1.jpg" alt="">
    <h1><b>Discover your inner designer</b></h1>
    <p>Design your dream space with our
      curated catalogue, hand-picked by
      professional interior designers</p>
  </div>
  <div class="col-12">
    <img src="../../assets/next page 2.jpg" alt="">
  </div>
  <h1><b>Discover your inner designer</b></h1>
  <p>Design your dream space with our
    curated catalogue, hand-picked by
    professional interior designers</p>
    <div class="container">
      <ion-button expand="block" class="nextpage" routerLink="/my-acc">Next Page</ion-button>
    </div>
</div>

<!-- </ion-content> -->
